html, body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.tauri-regular {
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zalando-sans {
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.img-logo {
    width: 75px;
    margin-left: 16px;
    margin-right: 20px;
}

.img-logo-2 {
    width: 75px;
    margin-left: 30px;
    margin-right: 20px;
    filter: brightness(0);
}

.text-color-1 {
    color: white;
}

.text-color-2 {
    color: black;
}

.button-1 {
    border-radius: 25px;
    background-color: black;
    border: 0px;
    color: white;
    padding: 13px 18px;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0);
}

.button-1:hover {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    border: 2px solid black;
}

.button-2 {
    border-radius: 25px;
    background-color: white;
    border: 0px;
    color: black;
    padding: 13px 18px;
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0);
}

.button-2:hover {
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    border: 2px solid white;
}

.link {
    color: #1f8fda;
}

.link:hover {
    color: #103663;
    text-decoration: none;
}

.form-1 {
    border-radius: 25px;
    padding: 25px;
    background-color: rgba(255, 255, 255);
    width: 350px;
    padding-top: 40px;
}

.form-2 {
    border-radius: 25px;
    padding: 25px;
    background-color: rgba(255, 255, 255);
    padding-top: 40px;
}

.form-3 {
    border-radius: 25px;
    padding: 25px;
    background-color: rgba(255, 255, 255);
    width: 450px;
    padding-top: 40px;
}

input {
    border-radius: 5px;
    width: 225px;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-row-2 {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.glyphicon {
    margin-right: 8px;
}

.bg-carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.bg-carousel .item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 10;
}

.glass-card {
    width: 80%;
    margin: 5% 10%;
    min-height: 90vh;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .glass-card {
        width: 90%;
        margin: 5% auto;
        padding: 20px;
    }

    .header-row-2 {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .header-row-2 > div {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-1 {
        width: 100%;
        max-width: 350px;
        padding: 20px;
    }

    .form-3 {
        width: 100%;
        max-width: 350px;
        padding: 20px;
    }


    input {
        width: 100%;
    }
}

.test {
    padding-bottom: 100px;
    background-image: url("../images/verkkokauppa.png");
    background-size: cover;
    background-position: center;
}

.pagination {
    display: flex;
    justify-content: center;
}